body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin: 80px;
  background-image: url("img.jpg");
  background-size: cover;
  height: 100vh;
}

p {
  margin: 5px 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-section,
.turn,
.game-over-visible {
  font-family: "Waiting for the Sunrise", sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3px;
  background-color: rgba(210, 210, 210, 20%);
  color: rgb(228, 228, 228);
  border-radius: 6px;
}

.submit-button,
.new-game-button {
  font-family: "Waiting for the Sunrise", sans-serif;
  letter-spacing: 4px;
  font-size: 19px;
  font-weight: bolder;
  border: none;
  border-radius: 6px;
  background-color: rgba(228, 228, 228, 30%);
  color: rgb(29, 28, 28);
  width: 100%;
  padding: 5px;
}

.submit-button:hover,
.new-game-button:hover {
  background-color: rgba(164, 164, 164, 0.4);
}

.submit-button:active,
.new-game-button:active {
  background-color: rgba(138, 138, 138, 0.4);
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 36%;
  width: 100%;
  padding: 20px;
  gap: 0px;
}

#player1,
#player2 {
  font-family: "Waiting for the Sunrise", sans-serif;
  font-size: 18px;
  letter-spacing: 4px;
  background-color: rgba(228, 228, 228, 30%);
  border: none;
  width: 200px;
  font-weight: 800;
  padding: 0 4px;
  border-radius: 4px;
}

#player1 {
  margin-left: -3px;
}

.form-section-invisible {
  display: none;
}

.label {
  margin: 0 10px;
}

.submit-button-section {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.game-inactive {
  display: none;
}

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  align-self: center;
  width: 100%;
}

.cell {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: rgb(228, 228, 228);
  background-color: rgba(210, 210, 210, 20%);
  border-radius: 8px;
  border: none;
}

.cell:hover {
  background-color: rgba(153, 153, 153, 0.2);
}

.cell:active {
  background-color: rgba(119, 119, 119, 0.2);
}

.game-over {
  display: none;
}

.game-over-visible {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 60%;
  width: 110%;
  padding: 34px;
  gap: 20px;
}

.new-game-button {
  align-self: center;
}
