body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  padding: 30px;
  margin: 80px;
  background-image: url("img.jpg");
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-section,
.turn,
.cell,
.game-over-visible {
  font-family: "Fuzzy Bubbles";
}

.submit-button,
.new-game-button {
  border: none;
  border-radius: 6px;
  background-color: rgba(228, 228, 228, 80%);
  color: rgb(50, 50, 50);
  width: 100px;
  padding: 5px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: rgba(210, 210, 210, 20%);
  color: rgb(228, 228, 228);
  height: 50%;
  width: 95%;
  padding: 10px;
  border-radius: 6px;
  margin-top: 54px;
}

.form-section-invisible {
  display: none;
}

.label {
  margin: 0 10px;
}

.submit-button-section {
  display: flex;
  justify-content: flex-end;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.game-inactive {
  display: none;
}

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(228, 228, 228);
  border-radius: 6px;
  height: 20%;
  padding: 10px;
  width: 95%;
  font-size: 26px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  align-self: center;
  width: 100%;
}

.cell {
  font-size: 64px;
  font-weight: 700;
  color: rgb(228, 228, 228);
  background-color: rgba(210, 210, 210, 20%);
  border-radius: 8px;
  border: none;
}

.div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(85, 85, 85);
}

.game-over {
  display: none;
}

.game-over-visible {
  display: flex;
  flex-direction: column;
  color: rgb(228, 228, 228);
  font-size: 36px;
  text-align: center;
  background-color: rgba(210, 210, 210, 20%);
  height: 60%;
  width: 100%;
  padding: 34px;
  border-radius: 6px;
  gap: 20px;
}

.new-game-button {
  align-self: center;
}
